@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
}

body {
    background: #f8f9fa;
    min-height: 100vh;
}

.p-menubar {
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
}

.p-menubar-root-list>.p-menuitem-active>.p-submenu-list {
    right: 0;
}

.p-menubar .p-submenu-list>.p-menuitem-active>.p-submenu-list {
    right: 100% !important;
    left: initial !important;
}

.p-menubar .p-submenu-list {
    width: unset;
    max-width: 12rem;
}

.p-menubar .p-menubar-root-list {
    flex-grow: 1;
    justify-content: end;
}

.p-menubar .p-menuitem>.p-menuitem-content .p-menuitem-link {
    padding-right: 2rem;
}

.p-menubar .p-submenu-list .p-menuitem .p-menuitem-content .p-menuitem-link .submenu-icon {
    margin: .5rem;
    margin-left: 0;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-content .p-menuitem-link {
    padding: 1rem;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-content .p-menuitem-link .p-submenu-icon {
    margin-left: .2rem;
}

.p-menubar .p-menuitem:not(.p-highlight):not(.p-disabled)>.p-menuitem-content .p-menuitem-link .p-menuitem-text {
    white-space: nowrap;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-content .p-menuitem-link .submenu-icon {
    order: 2;
    margin: 0 0 0 .5rem;
}

.p-menubar .p-menubar-button{
  flex-grow: 1;
  justify-content: end;
  margin-right: 1rem;
}